/*Mobile styles go first */

p {
    background-color: red;
    color: white;
}

.showmobile {
    display: block;
}

.showdesktop {
    display: none;
}

body {
    background-color: blueviolet;
}

/*Tablet styles go second */

@media (min-width: 600px) {
    p {
        background-color: blue;
    }
    
    body {
        background-color: white;
    }
}

/*Desktop styles go last */

@media (min-width: 800px) {
    p {
        background-color: green;
    }

    .showmobile {
        display: none;
    }
    
    .showdesktop {
        display: block;
    }
}